*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


.hero{
	position: relative;
	justify-content: center;
	min-height: 320px;
	color: #fff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 44.66%, rgba(0, 0, 0, 0.4) 100%)
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70%;
	opacity: 0.75;
}




.logo{
    margin-bottom: 50px;
}

.logo-header{
    margin-top: -191px;
    margin-right: 70px; 
}
  
  .wrapper__checkbox {
    display: none; }
  
  .wrapper__checkbox:checked ~ .wrapper__menu {
    right: 0; }
  
  .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px; }
  
  .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(2) {
    opacity: 0; }
  
  .wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -6px; }
  
  .wrapper__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
    position: fixed;
}
  
  .wrapper__button-line {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background: #000;
    margin: 2px 0;
    position: relative;
    -webkit-transition: all .1s linear 0.2s;
    -o-transition: all .1s linear 0.2s;
    transition: all .1s linear 0.2s; 
}
  
  .wrapper__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 500px;
    background: #BAD3E2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 100px 40px 40px;
    -webkit-transition: right 0.4s;
    -o-transition: right 0.4s;
    transition: right 0.4s;
    border-bottom-left-radius: 100px;
    z-index: 800;
}
  
.wrapper__menu-link {
    font-size: 18px;
    line-height: 20px;
    color: #252930;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 30px;
    padding: 5px 10px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
    .wrapper__menu-link:hover {
      padding-right: 20px; 
}

.block__hero{
    background: #FFFFFF;
    padding: 0px 60px 0px 32px;
    position: absolute;
    color: #252930;
    margin-top: 235px;
}


.h1_block__hero{
    margin-top: 30px;
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
}


.card{
    background-color: #F1F3F9;
    padding: 32px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.card_h1{
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding-top: 32px;
    width: 340px;
}

.btn_card a{
    border: 1px solid #7A869C;
    padding: 16px 40px;
    color: #252930;
    font-family: '?????';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
}

.btn_card a:hover{
    background-color: #7894c7;
    transition: .2s;
    color: rgb(255, 255, 255);
    border: none;
}

.btn_card{
    margin-top: 112px;
}



.h1_content_center{
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #252930;
    margin-top: 32px;
    width: 492px;
}


.colons{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.site-footer{
    background: #252930;
    margin-top: 40px;
}

.container{
    padding-top: 10px;
    padding: 32px;
    margin: 0 auto;
}





.tel_footer, .addres__footer, .email__footer {
    margin-top: 10px;
}

.tel_footer a{
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #F1F3F9;
}

.addres__footer a{
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #F1F3F9;
}

.email__footer a{
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #F1F3F9;
}

.menu_footer{
    padding-top: 20px;
}



.menu_footer li a{
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #F1F3F9;
}

.port{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 20px;
}

.port a{
    color: #9BAED5;
}

.question{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 12px; 
}

.question a{
    color: #9BAED5;
}

.line{
    margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid rgb(255, 255, 255);
}


.a_footer{
    margin-top: 25px;
}

.menu_footer li{
    gap: 25px;
}

.menu__footer_2{
    padding-top: 12px;
}

.a_footer{
    color: #fff;
}

.line__footer{
    border: 1px solid #464C5A;
    margin-top: 60px;
}

.copy__content{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.cpr_a a, .politic a{
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.card__doc a:hover{
    color: #626262;
    transform: .3s;
}

.tel_footer a:hover{
    color: #b5b5b5;
}

.addres__footer a:hover{
    color: #b5b5b5;
}

.email__footer a:hover{
    color: #b5b5b5;
}

.menu_footer a:hover{
    color: #b5b5b5;
}

.copy__content a:hover{
    color: #b5b5b5;
}

.menu__footer{
    margin-top: 20px;
}

@media screen and (max-width:480px){
    .block__hero{
        padding: 16px;
    }

    .h1_block__hero{
        font-size: 32px;
    }
    .card{
        display: flex;
        flex-wrap: wrap;
        padding: 16px;
    }

    .h1_content_center{
        font-size: 16px;
        width: 343px;
    }

    .img_content{
        margin-top: 32px;
        width: 100%;
    }

    .img_content img{
       width: 100%;
    }

    .btn_card{
        display: none;
    }

    .colons {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    .tel_footer a, .addres__footer a, .email__footer a, .menu_footer ul li a, .btn_right a{
        font-size: 16px;
    }

    .copy__content{
        display: flex;
        flex-wrap: wrap;
    }
    .politic{
        margin-top: 8px;
    }


   
}

